* {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(45deg, var(--blue), var(--teal));
  border-bottom: 4px solid var(--border-color);
}

.BackButton,
.AccountButton {
  background-color: white;
  border: 2px solid var(--border-color);
  padding: 5px 2vw;
}

.FolderBanner {
  color: white;
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-lighter);
  -webkit-background-clip: text;
  text-shadow: none;
  filter: drop-shadow(3px 3px 0px #2a2a2a);
}

.container {
  margin: 5vw;
  background-color: white;
  border: 4px solid var(--border-color);
}

.container h2 {
  background-image: linear-gradient(90deg, var(--purple), var(--blue));
  border-bottom: 2px solid var(--border-color);
  padding: 1vh;
  color: white;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
}

.buttonContainer button {
  border: 2px solid var(--border-color);
  color: white;
  margin: 2vh 2vw;
  padding: 1vh 2vw;
}

.addNewFolder {
  background-image: linear-gradient(45deg, var(--pink), var(--blue));
}

.addNewDeck {
  background-image: linear-gradient(45deg, var(--teal), var(--blue));
}

.deckContainer {
  display: flex;
  gap: 3vw;
  flex-wrap: wrap;
  margin: 5vw 5vw;
}

.FolderIcon {
  border: none;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.deck {
  background-color: var(--teal);
  border: 4px solid var(--border-color);
  width: 20vw;
  height: 30vh;
  padding: 1vh 1vw;
  display: flex;
  flex-direction: column;
  gap: 1.2vh;
}

.deck h3,
.deck p {
  text-align: start;
  color: white;
}

.deckButtons {
  display: flex;
  gap: 1vw;
}

.deckButtons button {
  border: 2px solid var(--border-color);
  background-color: white;
}

.editButton,
.studyButton {
  width: 10vw;
  height: 5vh;
}
