h1 {
  font-size: var(--font-size-2xl);
  font-weight: var(--font-weight-lighter);
  background: linear-gradient(45deg, var(--pink), var(--orange));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: none;
  filter: drop-shadow(4px 4px 0px #2a2a2a);
  text-align: center;
}

h3,
p {
  text-align: center;
}

.ButtonContainer {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}

.CreateFlashcardButton {
  color: white;
  border: 4px solid var(--border-color);
  background: linear-gradient(45deg, var(--pink), var(--orange));
  padding: 2vh 5vw;
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-lighter);
}
